{% extends "bootstrapbase.html "%}

{% block head %}
  <title></title>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7">
          <p>2017年台灣燈會在雲林</p>
          <p>主燈區在虎尾農博生態園區</p>
          <p>鄰近高鐵雲林站</p>
          <p>與台鐵斗六、斗南站車程約15分鐘</p>
          <p>搭配國道1號、3號高速公路及台78線雲林東西向快速道路</p>
          <p>交通便利</p>
          <br>
          <p>北港燈區鄰近高鐵嘉義站，</p>
          <p>虎尾與北港之間規劃接駁車，</p>
          <p>服務想要一次看完燈會的遊客，</p>
          <p>而虎尾高鐵特定區內300公頃的腹地，</p>
          <p>足以容納參觀燈會人潮。</p>
      </div>

      <div class="col-md-5">
        <img class="photo" src="/static/image/yun_hsr.jpg" height="260"/>
        <br><br><br>
        <img class="photo" src="/static/image/north_port.jpg" height="260"/>
        <br><br><br>
        <img class="photo" src="/static/image/chicken_hsr.jpg" height="260"/>
        <br><br><br>
      </div>

    </div>
  </div>
</div>
{% endblock %}
